div.plane {
  border: 3px solid;
  border-radius: 10px;
  margin: auto;
  width: 25%;
  background-color: #F2F2F2;
}

ul.row {
  display: inline-block;
  margin: auto;
  height: 50%;
}

li.seat {
  display: block;
  padding: 5px;
}

li.current {
  color: #FFD700;
}

i.fa-stop:hover {
  color: #FFD700;
}
